# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V2
.Trashes

# Editors
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temp files
*.tmp
*.bak
*.orig

# OS generated
ehthumbs.db
Thumbs.db
